body{
    background-color: #d0e9c6;
    background-image: url("../images/chess_silver_glass_table_form_15287_1920x1080.jpg");
    height: 45px;
    width: 70px;

}
#main{
    background-color: #6f4a52;
    height: 700px;
    width: 700px;
    left:275px;
    top: 25px;
}
.col-xs-1{
    height: 70px;
    width: 70px;
}
.letter{
    top: 20px;
}
.img{
    position: absolute;
    height: 55px;
    width: 60px;
    left: 6px;
    top: 5px;
    z-index: 9999;
}
.img:hover{
    position: absolute;
    height: 60px;
    width: 65px;
    left: 4px;
    top: 5px;
    z-index: 9999;
}
.selectpath{
    box-shadow: inset 0px 0px 6px 10px rgba(50, 345, 59, .8);
}
.clickpiece{
    box-shadow: inset 0px 0px 6px 10px rgba(50, 2, 590, .8);
}
.crosspiece{
    box-shadow: inset 0px 0px 6px 10px rgba(230, 50, 60, .7);
}